{{{ linkBack }}}
<div class="profile-page">
    {{{ profileAvatar }}}
    <form class="border-list__form">
        <ul class="border-list border-list--mb60">
            <li class="border-list__item">
                {{{ oldPassword }}}
            </li>
            <li class="border-list__item">
                {{{ newPassword }}}
            </li>
            <li class="border-list__item">
                {{{ repeatPassword }}}
            </li>
        </ul>
        {{{ saveBtn }}}
    </form>
</div>
