{{{ linkBack }}}
<div class="profile-page">
    {{{ profileAvatar }}}
    <form class="border-list__form">
        <ul class="border-list border-list--mb60">
            <li class="border-list__item">
                {{{ oldPasswordInput }}}
            </li>
            <li class="border-list__item">
                {{{ newPasswordInput }}}
            </li>
            <li class="border-list__item">
                {{{ repeatPasswordInput }}}
            </li>
        </ul>
        {{{ saveBtn }}}
    </form>
</div>
