<label class="form-control {{addClass}} {{#if center}}form-control--error{{/if}}">
    <input
            class="form-control__input"
            type="{{type}}"
            name="{{name}}"
            {{#if pattern}}pattern="{{pattern}}"{{/if}}
            title="{{inputTitle}}"
            placeholder="{{placeholder}}"
            autocomplete="off"
    >
    {{#if errorMsg}}
        <span class="form-control__error-msg">
            {{errorMsg}}
        </span>
    {{/if}}
</label>
