<div>
    {{{ linkBack }}}
    <div class="profile-page">
        {{{ profileAvatar }}}
        <form class="border-list__form">
            <ul class="border-list border-list--mb60">
                <li class="border-list__item">
                    {{{ editedEmail }}}
                </li>
                <li class="border-list__item">
                    {{{ editedLogin }}}
                </li>
                <li class="border-list__item">
                    {{{ editedFirstName }}}
                </li>
                <li class="border-list__item">
                    {{{ editedSecondName }}}
                </li>
                <li class="border-list__item">
                    {{{ editedDisplayName }}}
                </li>
                <li class="border-list__item">
                    {{{ editedPhone }}}
                </li>
            </ul>
            {{{ saveBtn }}}
        </form>
    </div>
</div>
