<div>
    {{{ linkBack }}}
    <div class="profile-page">
        {{{ profileAvatar }}}
        <p class="profile-page__name">
            Иван
        </p>
        <ul class="border-list border-list--mb60">
            <li class="border-list__item">
                {{{ editedEmail }}}
            </li>
            <li class="border-list__item">
                {{{ editedLogin }}}
            </li>
            <li class="border-list__item">
                {{{ editedFirstName }}}
            </li>
            <li class="border-list__item">
                {{{ editedSecondName }}}
            </li>
            <li class="border-list__item">
                {{{ editedDisplayName }}}
            </li>
            <li class="border-list__item">
                {{{ editedPhone }}}
            </li>
        </ul>
        <ul class="border-list">
            <li class="border-list__item">
                {{{ editData }}}
            </li>
            <li class="border-list__item">
                {{{ editPassword }}}
            </li>
            <li class="border-list__item">
                {{{ exitBtn }}}
            </li>
        </ul>
    </div>
</div>
