<h2 class="auth-box__title">
    Регистрация
</h2>
<form class="auth-box__form">
    {{{ emailField }}}
    {{{ phoneField }}}
    {{{ firstNameField }}}
    {{{ secondNameField }}}
    {{{ loginField }}}
    {{{ passwordField }}}
    {{{ repeatPasswordField }}}
    {{{ button }}}
    {{{ link }}}
</form>
{{{ notifications }}}
