<div class="column {{addClass}}">
    <div class="column__left">
        <div class="nav-head">
            {{{ profileLink }}}
            {{{ addChatBtn }}}
            {{{ deleteChatBtn }}}
            {{{ addUserBtn }}}
            {{{ deleteUserBtn }}}
        </div>
        {{{ dialogItem }}}
    </div>
    <div class="column__center">
        {{{ messagesBox }}}
    </div>
</div>
